/* Small devices (landscape phones, 576px and up) */

.container {
  padding: 0;
}

/* topbar and navbar */
#topBar {
  display: none;
}

#nav {
  padding: 1rem;
}
#nav .logo {
  width: 30%;
}

#nav .socials,
#nav .nav-items {
  display: none;
}

#nav .mobile-nav {
  display: block;
}

/* Homepage styles */

#home-1 {
  background: url('../images/hero.jpg') no-repeat 70% 30% / cover;
}

#home-1 .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

#home-1 .hero-content h2 {
  font-size: 2.5rem;
}

#home-2 .boxes {
  display: none;
}

#home-3 {
  margin-top: 2rem;
  padding: 1rem;
}

#showcase .right {
  display: none;
  width: 0;
}
#showcase .left {
  min-width: 100%;
  text-align: center;
}

#showcase .left h2 {
  font-size: 2rem;
}

#home-5 .products,
#home-6 .accredations-container {
  grid-template-columns: none;
}

#cta .cta-container {
  display: flex;
  flex-direction: column;
}
#cta h2 {
  font-size: 2rem;
}

#home-6 .accredations-container img {
  width: 50%;
  display: block;
  margin: auto;
}

/* About page styles */

#about-1 {
  padding: 1rem;
  text-align: center;
}

#about-1 .about-section-inner {
  display: flex;
  flex-direction: column;
}

#about-1 .col {
  width: 100%;
}

#showcase .features,
#about-3 .certificates {
  grid-template-columns: none;
}

/* Product Page Styles */
#product-content .product-images {
  grid-template-columns: 1fr;
}

#product-summary .col:first-child {
  display: none;
  width: 0;
}

#product-summary .col:last-child {
  min-width: 100%;
}

/* Footer styles */

#footer .footer-container {
  grid-template-columns: none;
  padding: 1rem 0 0 1rem;
}

#footer .footer-container div:nth-child(2) ul {
  display: flex;
}

#footer .footer-container div:nth-child(2) ul li {
  margin: 0 1rem 0 1rem;
}

#footer .footer-container div:nth-child(2) ul li a:hover {
  text-decoration: underline;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #home-5 .products {
    grid-template-columns: repeat(2, 1fr);
  }

  #home-6 .accredations-container {
    grid-template-columns: repeat(3, 1fr);
  }

  #showcase .features,
  #about-3 .certificates {
    grid-template-columns: repeat(2, 1fr);
  }
}
