/* Font Imports */

/* Fira Sans + PT Serif */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --heading-Font-Family: 'Fira Sans', sans-serif;
  --text-Font-Family: 'PT Serif', serif;
  --primary-color: #e7717d;
  --text-color: #050303;
}

body {
  font-family: var(--text-Font-Family);
  line-height: 1.3;
  background: #fff;
  font-size: 1rem;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
  color: var(--primary-color);
  font-family: var(--heading-Font-Family);
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}
a {
  text-decoration: none;
}

img {
  width: 100%;
}

/* Utilities */

.container {
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;
  padding: 1rem;
}
.text-primary {
  color: var(--primary-color);
}

.text-white {
  color: #fff;
}

.text-dark {
  color: #000;
}

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

/* .bg-secondary {
  background: #0284d0;
  color: #fff;
} */

.bg-dark {
  background: #333;
  color: #fff;
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px 30px;
  color: #fff;
  border-radius: 5px;
  margin: 20px 0;
  transition: all 0.5s linear;
}

.btn-primary {
  background: var(--primary-color);
}

.btn-secondary {
  border: 1px solid #fff;
}

.btn-dark {
  background: #333;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.px-1 {
  padding: 0 1rem;
}

.px-2 {
  padding: 0 2rem;
}

.px-3 {
  padding: 0 3rem;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.mx-1 {
  margin: 0 1rem;
}

.mx-2 {
  margin: 0 2rem;
}

.mx-3 {
  margin: 0 3rem;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.text-center {
  text-align: center;
}

/* CTA */

#cta {
  background: linear-gradient(
    to right,
    var(--primary-color),
    rgb(230, 70, 70),
    var(--primary-color)
  );
}
#cta .cta-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#cta h2 {
  font-size: 2.5rem;
}

#cta .btn {
  transition: all 0.5s linear;
}

#cta .btn:hover,
.btn:hover {
  transform: scale(1.3);
  background: red;
}

/* Header */
/* topbar */
#topBar {
  background: var(--primary-color);
  color: #fff;
  padding: 0.5rem;
  border-bottom: 2px solid snow;
}

#topBar .topBar-container {
  display: flex;
  justify-content: space-between;
}

#topBar .contact {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
/* Nav */

#nav {
  padding: 1rem 0;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: var(--primary-color);
  z-index: 1000;
}

#nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav .logo {
  max-width: 20%;
}

#nav .nav-items {
  display: flex;
  min-width: 40%;
  justify-content: space-between;
  font-family: var(--heading-Font-Family);
  text-transform: uppercase;
}

#nav .socials a {
  color: #fff;
  display: inline-block;
  margin: 0 5px;
}

#nav .socials a:hover {
  animation: herobtn 1.5s linear infinite;
}

#nav .nav-items .nav-link {
  color: #fff;
}

#nav .nav-items .nav-link.active {
  border-bottom: 2px solid var(--primary-color);
}

#nav .mobile-nav {
  color: #fff;
  display: none;
}

#home-1 {
  background: url('../images/hero.jpg') no-repeat center center/cover;
  height: 100vh;
  box-shadow: 0 5px 5px var(--primary-color);
}

#home-1 .hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

#home-1 .hero-content h2 {
  font-size: 3rem;
}

#home-1 .hero-content .btn {
  font-size: 1.3rem;
}

#home-1 .hero-content .btn:hover {
  animation: herobtn 1.5s linear infinite;
}

@keyframes herobtn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
    background: #e2626f;
    color: #fff;
  }
  100% {
    transform: scale(1);
  }
}

/* Home 2:boxes */

#home-2 .boxes {
  display: flex;
  transform: translateY(-50%);
  height: 15rem;
}

#home-2 .box {
  background: var(--primary-color);
  color: #fff;
  padding: 1.5rem;
  text-align: center;
  height: 100%;
}

#home-2 .box:nth-child(even) {
  background: #e2626f;
}

#home-2 .box:first-child {
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}
#home-2 .box:last-child {
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}

#home-2 .box h3 {
  color: #fff;
  text-transform: uppercase;
}

/* Home 3 */

#home-3 {
  line-height: 1.7;
}

/* Home 4 */

#showcase {
  background: linear-gradient(rgba(185, 97, 106, 0.7), rgba(163, 86, 94, 0.7)),
    url('../images/pinksalt.jpg') no-repeat center center/cover;
  background-attachment: fixed;
}

#showcase .showcase-container {
  display: flex;
  width: 90vw;
  margin: 0 auto;
}

#showcase .showcase-container .left {
  width: 60%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#showcase .showcase-container .left h2 {
  text-transform: uppercase;
}

/* Home 5 */

#home-5 h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.products-container,
.accredations-container,
.cta-container {
  width: 90%;
  margin: auto;
}

#home-5 .products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/* Overlay on Hover */
#home-5 .product {
  position: relative;
}

#home-5 .product-image {
  display: block;
  width: 100%;
  height: auto;
}

#home-5 .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(185, 97, 106, 0.7);
}

#home-5 .product .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#home-5 .product:hover {
  cursor: pointer;
}

#home-5 .product:hover .overlay {
  opacity: 1;
}

/* Home 6 */
#home-6 .accredations-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}

#home-6 h2 {
  margin-bottom: 2rem;
}

/* Footer */

#footer {
  padding-bottom: 0;
}
#footer .footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#footer h1,
#footer h2,
#footer h3,
#footer h4,
#footer a {
  color: white;
}
#footer i.fas {
  font-size: 1.5rem;
}

#footer li {
  margin-bottom: 0.5rem;
}

#footer .socials {
  margin-top: 1.5rem;
}

#footer .socials i {
  display: inline-block;
  margin: 0 0.5rem;
  color: #fff;
}

#footer .footer-bottom {
  text-align: center;
  width: 100%;
  grid-column: 1 / span 3;

  margin-top: 1rem;
  padding: 1.5rem;
  background: #d85966;
}

/* About Page styles */
/* About Header */
#about-header {
  background: linear-gradient(
      to right,
      rgba(231, 113, 125, 0.4),
      rgba(230, 70, 70, 0.4),
      rgba(231, 113, 125, 0.4)
    ),
    url('../images/about-header.jpg') no-repeat 20% 30% / cover;
  text-transform: uppercase;
}

#about-header h1 {
  color: #fff;
}

/* About 1 */

#about-1 p {
  line-height: 1.5;
  letter-spacing: 0.1rem;
}

#about-1 .about-section-inner {
  display: flex;
}
#about-1 .col {
  width: 50%;
}

/* About showcase */

#showcase .features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

#showcase .features .feature {
  background: #fff;
  border: 5px solid var(--primary-color);
  opacity: 0.9;
  transition: all 0.8s ease-in-out;
}

#showcase .features .feature:hover {
  opacity: 1;
}

#showcase .features .feature:hover i.fas {
  transform: rotate(180deg);
}

#showcase .feature i.fas {
  color: var(--primary-color);
  font-size: 4rem;
  margin: 1rem 0;
  transition: all 0.8s ease-in-out;
}

#about-3 .certificates {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

/* About Page styles end */
