/* Font Imports */

/* Fira Sans + PT Serif */

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --heading-Font-Family: "Fira Sans", sans-serif;
  --text-Font-Family: "PT Serif", serif;
  --primary-color: #e7717d;
  --text-color: #050303;
}

body {
  font-family: var(--text-Font-Family);
  line-height: 1.3;
  background: #fff;
  font-size: 1rem;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
  color: var(--primary-color);
  font-family: var(--heading-Font-Family);
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}
a {
  text-decoration: none;
}

img {
  width: 100%;
}

/* Utilities */

.container {
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;
}
.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: #000;
}

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.bg-light {
  background: #f4f4f4;
  color: #333;
}

/* .bg-secondary {
  background: #0284d0;
  color: #fff;
} */

.bg-dark {
  background: #333;
  color: #fff;
}

.btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px 30px;
  color: #fff;
  border-radius: 5px;
  margin: 20px 0;
}

.btn-primary {
  background: var(--primary-color);
}

.btn-secondary {
  border: 1px solid #fff;
}

.btn-dark {
  background: #333;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.px-1 {
  padding: 0 1rem;
}

.px-2 {
  padding: 0 2rem;
}

.px-3 {
  padding: 0 3rem;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.mx-1 {
  margin: 0 1rem;
}

.mx-2 {
  margin: 0 2rem;
}

.mx-3 {
  margin: 0 3rem;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

/* Header */
/* Nav */

#nav {
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(255, 255, 255, 0.3);
}

#nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav .logo {
  max-width: 20%;
}

#nav .nav-items {
  display: flex;
  min-width: 40%;
  justify-content: space-between;
  font-family: var(--heading-Font-Family);
  text-transform: uppercase;
}

#nav .nav-items .nav-link {
  color: var(--text-color);
}

#nav .nav-items .nav-link.active {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}

#home-1 {
  background: url("../images/hero.jpg") no-repeat center center/cover;
  height: 100vh;
}

#home-1 .hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

#home-1 .hero-content h2 {
  font-size: 2.5rem;
}

#home-1 .hero-content .btn {
  font-size: 1.3rem;
}

#home-1 .hero-content .btn:hover {
  animation: herobtn 1.5s linear infinite;
}

@keyframes herobtn {
  50% {
    transform: scale(1.3);
    background: #e2626f;
    color: #fff;
  }
  100% {
    transform: scale(1);
  }
}

/* Home 2:boxes */

#home-2 .boxes {
  display: flex;
  transform: translateY(-50%);
  height: 15rem;
}

#home-2 .box {
  background: var(--primary-color);
  color: #fff;
  padding: 1.5rem;
  text-align: center;
  height: 100%;
}

#home-2 .box:nth-child(even) {
  background: #e2626f;
}

#home-2 .box:first-child {
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
}
#home-2 .box:last-child {
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
}

#home-2 .box h3 {
  color: #fff;
  text-transform: uppercase;
}
